+++
title = "TechOS"
linkTitle = "TechOS"

+++

{{< blocks/cover title="Welcome to the ROS Agriculture Community!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/ros-agriculture">
		Contribute <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">ROS Agriculture is an open source community that focuses on empowering farmers with robotic tools.</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}


{{< blocks/section >}}
{{% blocks/feature icon="fa-lightbulb" title="A group of **volunteers**!" %}}
It is a small community, but with grand ambitions.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/ros-agriculture" %}}
We do a [Pull Request](https://github.com/ros-agriculture/ros_lawn_tractor/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/ROSAgriculture" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
